<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/layout/admin/base-layout">
<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Orders Edit</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
						<li class="breadcrumb-item"><a th:href="@{/admin/orders}">Order</a></li>
						<li class="breadcrumb-item active">Edit</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card card-warning">
						<div class="card-header">
							<h3 class="card-title">Order</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form method="post" th:action="@{/admin/orders/update}">
							<div class="card-body">
								<input type="text" name="id" hidden="true"
									th:value="${order.id}">
								<div class="form-group">
									<label for="orderDate">Order date</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i
												class="far fa-calendar-alt"></i></span>
										</div>
										<input type="date" class="form-control"
											th:field="${order.orderDate}" id="orderDate" />
									</div>
								</div>
								<div class="form-group">
									<label for="recipientName">Recipient's name</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-user"></i></span>
										</div>
										<input type="text" class="form-control" id="recipientName"
											name="recipientName" placeholder="Enter recipient's name"
											th:value="${order.recipientName}">
									</div>
								</div>
								<div class="form-group">
									<label for="recipientPhone">Recipient's phone</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-phone"></i></span>
										</div>
										<input type="text" class="form-control" id="recipientPhone"
											name="recipientPhone" placeholder="Enter recipient's phone"
											th:value="${order.recipientPhone}">
									</div>
								</div>
								<div class="form-group">
									<label for="recipientAddress">Recipient's address</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i
												class="fas fa-map-marker-alt"></i></span>
										</div>
										<input type="text" class="form-control" id="recipientAddress"
											name="recipientAddress"
											placeholder="Enter recipient's address"
											th:value="${order.recipientAddress}">
									</div>
								</div>
								<div class="form-group">
									<label>Delivery status</label> <select class="form-control"
										th:field="${order.deliveryStatus}">
										<option value="Shipped"
											th:selected="${order.deliveryStatus == 'Shipped'}">Shipped</option>
										<option value="Pending"
											th:selected="${order.deliveryStatus == 'Pending'}">Pending</option>
										<option value="Delivered"
											th:selected="${order.deliveryStatus == 'Delivered'}">Delivered</option>
										<option value="Processing"
											th:selected="${order.deliveryStatus == 'Processing'}">Processing</option>
									</select>
								</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button type="submit" class="btn btn-warning">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</html>